.about{
    background-color: transparent;
    background-size: cover;
    width: 100%;
    height: 50rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    color: white;
}
.videoTag{
    position: absolute;
    display: flex;
    align-items: center;
    width: 100%;
    height: inherit;
    z-index: 1;
}
.abouthd{
    font-size: 3rem;
    font-weight: 500;
    padding: 5% 0 2% 0;
    z-index: 10;
}
.aboutinfo{
    width: 55%;
    text-align: center;
    z-index: 10;
}
.aboutdets{
    padding-top: 8%;
    height: 10rem;
    width: 30%;
    display: flex;
    flex-direction: column-reverse;
    justify-content: space-between;
    z-index: 10;
}
.detssec{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.icon{
    font-size: 1.8rem;
}
.subhd, .subhd2{
    font-size: .8rem;
    font-weight: 400;
    font-stretch: expanded;
}
.subhd2, .subhd2 span{
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}
.subceo{
    font-size: 1rem;
    text-transform: uppercase;
    font-weight: 700;
}
@media only screen and (max-width: 1097px){
    .about{
         height: 43rem;
    } 
    .aboutinfo{
        width: 70%;
    }
 }
  @media only screen and (max-width: 943px){
    .abouthd{
        font-size: 2.8rem;
    }
    .aboutinfo{
        font-size: .9rem;
    }
    .about{
        height: 38rem;
   } 
   .subceo{
        font-size: .9rem;
    }
  }
  @media only screen and (max-width: 768px){
    .about{
        height: 35rem;
   } 
   .aboutdets{
        width: 40%;
        height: 5rem;
    }
    .detssec{
        gap: .3rem;
    }
    .icon{
        font-size: 1.5rem;
    }
    .subhd{
        font-size: .7rem;
    }
    .odrr{
        display: none;
    }
  }
  @media only screen and (max-width: 568px){
    .about{
        height: 28rem;
   } 
   .abouthd{
        font-size: 2rem;
    }
    .aboutinfo{
        font-size: .8rem;
        width: 80%;
    }
    .subceo{
        font-size: .8rem;
    }
  }
  @media only screen and (max-width: 468px){
    .aboutdets{
        width: 50%;
    }
    .icon{
        font-size: 1.3rem;
    }
    .subhd{
        font-size: .6rem;
    }
  }
  @media only screen and (max-width: 376px){
    .aboutinfo{
        width: 85%;
        font-size: .7rem;
    }
    .abouthd{
        font-size: 2.2rem;
    }
    .aboutdets{
        width: 60%;
        padding-top: 0;
    }
    .about{
        height: 26rem;
   } 
   .subceo{
    font-size: .7rem;
}
  }
  