.explore{
    height: 65rem;
    background-color: rgb(233 237 240);
    background-image: url("./assets/finesky.png");
    background-repeat: no-repeat;
    background-size: cover;
    box-shadow: 0px -90px 50px -41px rgba(0, 0, 0, 0.933) inset;
    -webkit-box-shadow: 0px -90px 50px -41px rgba(0,0,0, 0.933) inset;
    -moz-box-shadow: 0px -90px 50px -41px rgba(0,0,0, 0.933) inset;
}
.exhd{
    font-size: 2rem;
    padding: 5% 0 2% 0;
}
.exinfo{
    width: 60%;
    text-align: center;
}
.exbtn{
    border: 3px solid black;
    padding: .5% 5%;
    margin-top: 5%;
    font-weight: 500;
    cursor: pointer;
}
.exbtn:hover{
    color: white;
    background-color: black;
}
.pic{
    box-shadow: 0px 40px 50px -41px rgb(227 232 238 0.933) inset;
    -webkit-box-shadow: 0px 40px 50px -41px rgb(227 232 238 0.933) inset;
    -moz-box-shadow: 0px 40px 50px -41px rgb(227 232 238 0.933) inset;
    height: 50rem;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    color: black;

}

@media only screen and (max-width: 1097px){
    .pic{
        height: 40rem;
    }
    .explore{
        height: 50rem;
    }
 }
 @media only screen and (max-width: 943px){
    .exhd{
        font-size: 1.8rem;
    }
    .exinfo{
        font-size: .9rem;
    }
    .exbtn{
        font-size: .9rem;
        padding: 1% 5%;
    }
    .pic{
        height: 30rem;
    }
    .explore{
        height: 40rem;
    }
  }
  @media only screen and (max-width: 568px){
    .exhd{
        font-size: 1.5rem;
    }
    .exinfo{
        font-size: .8rem;
        width: 80%;
    }
    .exbtn{
        font-size: .8rem;
    }
    .pic{
        height: 20rem;
    }
    .explore{
        height: 35rem;
    }
  }
  @media only screen and (max-width: 376px){
    .exinfo{
        font-size: .7rem;
    }
    .pic{
        height: 13rem;
    }
    .explore{
        height: 33rem;
    }
  }