.boxpic{
    width: 100%;
    height: fit-content;
    border-radius: 10px;
}
.service{
    padding: 5% 10% 0 10%;
    height: 45rem;
}

.srimg{
    width: 100%;
    border-radius: 30px;
}
.srpic{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    height: 8rem;
    padding: 5% 0;
}
.srhd{
    width: 20%;
    font-size: 1.5rem;
    font-weight: 500;
    padding-right: 5%;
}
.srdiv{
    width: 80%;
}
ul{
    display: grid;
    grid-template-columns: 35% 30% 35%;
    width: 100%;
    padding-left: 3%;
    box-sizing: border-box;
}
#srv{
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

@media only screen and (max-width: 1097px){
    .srhd{
        padding: 0;
    }
    .service{
        height: 40rem;
        padding: 0% 10% 0 10%;
    }
}

@media only screen and (max-width: 943px){
    .srhd{
        font-size: 1.3rem;
    }
    .srdiv{
        font-size: .9rem;
    }
    .service{
        height: 35rem;
    }
    .srimg{
        border-radius: 20px;
    }
}
@media only screen and (max-width: 768px){
    .service{
        height: 32rem;
    }
}
@media only screen and (max-width: 668px){
    ul{
        grid-template-columns: 48% 48%;
    }
    .srhd{
        width: 25%;
    }
    .srdiv{
        width: 75%;
    }
}
@media only screen and (max-width: 568px){
    .srhd{
        font-size: 1.2rem;
    }
    .srdiv{
        font-size: .7rem;
    }
    .service{
        height: 25rem;
    }
    ul{
        margin: 1% 0;
    }
    .srimg{
        border-radius: 10px;
    }
}
@media only screen and (max-width: 468px){
    .srhd{
        width: 25%;
    }
    .srdiv{
        width: 70%;
    }
    .service{
        height: 25rem;
        padding: 0 7%;
    }
}

@media only screen and (max-width: 376px){
    .srpic{
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        height: 8rem;
        padding: 5% 0;
    }
    .srhd{
        width: 100%;
        font-size: 1.1rem;
        display: flex;
        justify-content: center;
    }
    .srdiv{
        width: 100%;
        padding-top: 2%;
    }
    ul{
        padding-left: 5%;
    }
    .service{
        height: 23rem;
    }
}